fastapi[standard]
uvicorn
sqlmodel
sqlalchemy
pydantic
pydantic-settings
pydantic-core
python-multipart
python-dotenv
requests
huggingface-hub
psycopg2-binary
APScheduler
PyYAML
httpx
google-genai
tflite-support
ai-edge-litert
supabase
